.names-results {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 25vw;
  margin: 0.5rem;
  font-family: starWarsFont;
}

.names-results > div {
  font-size: 2.3vh;
  padding-top: 0.5rem;
}
