.main-display {
  display: flex;
  align-items: flex-start;
  height: 45vh;
  gap: 4vw;
  margin-top: 3rem;
  margin-left: 15vw;
  position: relative;
}

.home-link{
  font-size: 1.8vh;
  position: absolute;
  bottom: -10vh;
  right: 50%;
}

a.NavLink {
  padding-left: 10vw;
}